#include "common.xcconfig"

COPY_PHASE_STRIP = YES
DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEPLOYMENT_POSTPROCESSING = YES
ENABLE_NS_ASSERTIONS = NO
GCC_OPTIMIZATION_LEVEL = s
LLVM_LTO = NO
OTHER_CFLAGS = $(inherited) -fstack-protector-all
STRIPFLAGS = -u -r
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = non-global
VALIDATE_PRODUCT = YES
